.user_info_wrap{
    position: relative;
    height: 45vh;
    background-color: var(--themeColor);
    overflow: hidden;

    .user_img_wrap{
        position: relative;
        .user_bg{
            height: 45vh;
            width: 100%;
            //高斯模糊
            filter:blur( 10rpx);
        }
        .user_info{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 25%;
            text-align: center;
            .user_icon{
                width: 150rpx;
                height: 150rpx;
                border-radius: 50%;
            }
            .user_name{
                color: #fff;
                margin-top: 40rpx;
                font-size: 40rpx;
            }
        }

    }
    .user_btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40%;
        border: 1rpx solid green;
        color: greenyellow;
        font-size: 38rpx;
        padding:30rpx;
        border-radius: 10rpx;
    }
}